In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv("flo_data_20k.csv")
df_=df.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [4]:
df.describe()

,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online
count,19945.000000,19945.000000,19945.000000,19945.000000
mean,3.110855,1.913913,253.922597,497.321690
std,4.225647,2.062880,301.532853,832.601886
min,1.000000,1.000000,10.000000,12.990000
25%,1.000000,1.000000,99.990000,149.980000
50%,2.000000,1.000000,179.980000,286.460000
75%,4.000000,2.000000,319.970000,578.440000
max,200.000000,109.000000,18119.140000,45220.130000

In [5]:
def outlier_thresholds(dataframe, column):
    quartile1=dataframe[column].quantile(0.01)
    quartile2=dataframe[column].quantile(0.99)
    interquantile=quartile2-quartile1
    
    higher_thresholds= quartile2+ interquantile*1.5
    lower_thresholds=quartile1- interquantile*1.5
    return (higher_thresholds,lower_thresholds)

# Çok detaylı bir outlier elemekten ziyade absürt rakamların atılması için 0.01 ve 0.99 değerlerini kullandık. 
    
def replace_with_thresholds(dataframe,column):
    higher,lower =outlier_thresholds(dataframe,column)
    dataframe.loc[(dataframe[column]<lower),column]=round(lower,0)
    dataframe.loc[(dataframe[column]>higher),column]=round(higher,0)

In [6]:
replace_with_thresholds(df,"order_num_total_ever_online")
replace_with_thresholds(df,"order_num_total_ever_offline")
replace_with_thresholds(df,"customer_value_total_ever_offline")
replace_with_thresholds(df,"customer_value_total_ever_online")

In [7]:
df.describe()

,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online
count,19945.000000,19945.000000,19945.00000,19945.000000
mean,3.091953,1.886187,251.92132,489.705676
std,3.809541,1.434694,251.02367,632.609844
min,1.000000,1.000000,10.00000,12.990000
25%,1.000000,1.000000,99.99000,149.980000
50%,2.000000,1.000000,179.98000,286.460000
75%,4.000000,2.000000,319.97000,578.440000
max,48.000000,16.000000,3020.00000,7800.000000

In [8]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline',
       'order_num_total_ever_online', 'order_num_total_ever_offline',
       'customer_value_total_ever_offline', 'customer_value_total_ever_online',
       'interested_in_categories_12'],
      dtype='object')

In [9]:

df["order_num_total_ever"]=df["order_num_total_ever_online"]+df["order_num_total_ever_offline"]
df["customer_value_total_ever"]=df["customer_value_total_ever_offline"]+df["customer_value_total_ever_online"]
# Online ve offlinelar toplamı toplam değerlerdir.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total_ever               19945 non-null  float64
 13  customer_value_total_ever          19945 non-null  float64
dtypes: float64(6), object(8)
memory usage: 2.1+ MB

In [11]:
import datetime as dt
changes=['first_order_date',
       'last_order_date', 'last_order_date_online', 'last_order_date_offline']
# Gerekli sütunları date formatına çeviriyoruz
for i in changes:
    df[i]=pd.to_datetime(df[i])
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total_ever               19945 non-null  float64
 13  customer_value_total_ever          19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [12]:
Analyze_Date=pd.to_datetime(max(df["last_order_date"])+pd.Timedelta(days=2))
Analyze_Date #Analiz tarihi en büyük trih parametresinden 2 gün sonra olarak kabul edilmiştir.

Timestamp('2021-06-01 00:00:00')

In [13]:
pd.set_option('display.float_format',lambda x : '%.2f' % x)
cltv=pd.DataFrame()
cltv["customer_id"]=df["master_id"] #Müşteri ID
cltv["recency_cltv_weekly"]=((df["last_order_date"]-df["first_order_date"]).dt.days)/7 # Haftalık olarak son satın almamızdan ne kadar bir süre geçmiştir
cltv["T_weekly"]=((Analyze_Date-df["first_order_date"]).dt.days)/7 #Haftalık olrak ilk satın almamızdan ne kadar süre geçmiştir.
cltv["frequency"]=df["order_num_total_ever"] # Toplam  tekrar eden satın alma
cltv["monetary_cltv_avg"]=df["customer_value_total_ever"]/df["order_num_total_ever"]  # Satın alma başına ortalama kazanç

In [14]:
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from lifetimes.plotting import plot_period_transactions

In [15]:
cltv

,customer_id,recency_cltv_weekly,T_weekly,frequency,monetary_cltv_avg
0,cc294636-19f0-11eb-8d74-000d3a38a36f,17.00,30.57,5.00,187.87
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,209.86,224.86,21.00,95.88
2,69b69676-1a40-11ea-941b-000d3a38a36f,52.29,78.86,5.00,117.06
3,1854e56c-491f-11eb-806e-000d3a38a36f,1.57,20.86,2.00,60.98
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,83.14,95.43,2.00,104.99
...,...,...,...,...,...
19940,727e2b6e-ddd4-11e9-a848-000d3a38a36f,41.14,88.43,3.00,133.99
19941,25cd53d4-61bf-11ea-8dd8-000d3a38a36f,42.29,65.29,2.00,195.24
19942,8aea4c2a-d6fc-11e9-93bc-000d3a38a36f,88.71,89.86,3.00,210.98
19943,e50bb46c-ff30-11e9-a5e8-000d3a38a36f,98.43,113.86,6.00,168.29
19944,740998d2-b1f7-11e9-89fa-000d3a38a36f,39.57,91.00,2.00,130.98

In [16]:
bgf=BetaGeoFitter(penalizer_coef=0.001)
bgf.fit(cltv["frequency"],cltv["recency_cltv_weekly"],cltv["T_weekly"])

In [17]:
cltv["exp_sales_3_month"] =bgf.predict(12,cltv["frequency"],cltv["recency_cltv_weekly"],cltv["T_weekly"]) # 3 aylık yani 12 haftalık beklenen satın almaları
cltv["exp_sales_3_month"]

0       0.97
1       0.98
2       0.67
3       0.70
4       0.40
        ...
19940   0.49
19941   0.48
19942   0.48
19943   0.61
19944   0.41
Name: exp_sales_3_month, Length: 19945, dtype: float64

In [18]:
cltv["exp_sales_6_month"]  =bgf.predict(6*4,cltv["frequency"],cltv["recency_cltv_weekly"],cltv["T_weekly"])# 3 aylık yani 12 haftalık beklenen satın almaları
cltv["exp_sales_6_month"]  # 6*4 --- 6 sayısı haftayı  4 ise her ay içerisinde bulunan haftayı temsil etmektedir.

0       1.95
1       1.97
2       1.34
3       1.40
4       0.79
        ...
19940   0.97
19941   0.96
19942   0.96
19943   1.22
19944   0.81
Name: exp_sales_6_month, Length: 19945, dtype: float64

In [19]:
cltv

,customer_id,recency_cltv_weekly,T_weekly,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month
0,cc294636-19f0-11eb-8d74-000d3a38a36f,17.00,30.57,5.00,187.87,0.97,1.95
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,209.86,224.86,21.00,95.88,0.98,1.97
2,69b69676-1a40-11ea-941b-000d3a38a36f,52.29,78.86,5.00,117.06,0.67,1.34
3,1854e56c-491f-11eb-806e-000d3a38a36f,1.57,20.86,2.00,60.98,0.70,1.40
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,83.14,95.43,2.00,104.99,0.40,0.79
...,...,...,...,...,...,...,...
19940,727e2b6e-ddd4-11e9-a848-000d3a38a36f,41.14,88.43,3.00,133.99,0.49,0.97
19941,25cd53d4-61bf-11ea-8dd8-000d3a38a36f,42.29,65.29,2.00,195.24,0.48,0.96
19942,8aea4c2a-d6fc-11e9-93bc-000d3a38a36f,88.71,89.86,3.00,210.98,0.48,0.96
19943,e50bb46c-ff30-11e9-a5e8-000d3a38a36f,98.43,113.86,6.00,168.29,0.61,1.22
19944,740998d2-b1f7-11e9-89fa-000d3a38a36f,39.57,91.00,2.00,130.98,0.41,0.81

In [20]:
ggf=GammaGammaFitter(penalizer_coef=0.01)

In [21]:
ggf.fit(cltv["frequency"],cltv["monetary_cltv_avg"])

In [22]:
cltv["exp_average_value"]=ggf.conditional_expected_average_profit(cltv["frequency"],cltv["monetary_cltv_avg"])
cltv["exp_average_value"] #Modelimizi fit edip sütünumuza ekledik.

0       193.63
1        96.67
2       120.97
3        67.32
4       114.33
         ...
19940   141.36
19941   210.72
19942   221.78
19943   172.65
19944   142.09
Name: exp_average_value, Length: 19945, dtype: float64

In [23]:
cltv.columns

Index(['customer_id', 'recency_cltv_weekly', 'T_weekly', 'frequency',
       'monetary_cltv_avg', 'exp_sales_3_month', 'exp_sales_6_month',
       'exp_average_value'],
      dtype='object')

In [24]:
cltv["cltv"]=ggf.customer_lifetime_value(bgf,cltv["frequency"],cltv["recency_cltv_weekly"],cltv["T_weekly"],cltv["monetary_cltv_avg"],time=6,freq='W',discount_rate=0.01)

In [25]:
cltv.sort_values(ascending=False,by="cltv").head(20).reset_index() # 6 aylık customer life time value a göre sıralanmıştır.

,index,customer_id,recency_cltv_weekly,T_weekly,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month,exp_average_value,cltv
0,9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,2.86,7.86,4.00,1401.80,1.09,2.19,1449.06,3327.78
1,13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,6.14,13.14,11.00,758.09,1.97,3.94,767.36,3172.39
2,17323,f59053e2-a503-11e9-a2fc-000d3a38a36f,51.71,101.00,7.00,1106.47,0.72,1.44,1127.61,1708.98
3,12438,625f40a2-5bd2-11ea-98b0-000d3a38a36f,74.29,74.57,16.00,501.87,1.57,3.13,506.17,1662.61
4,7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,62.71,67.29,52.00,166.22,4.66,9.31,166.71,1628.89
5,8868,9ce6e520-89b0-11ea-a6e7-000d3a38a36f,3.43,34.43,8.00,601.23,1.27,2.53,611.49,1623.81
6,6402,851de3b4-8f0c-11eb-8cb8-000d3a38a36f,8.29,9.43,2.00,862.69,0.79,1.59,923.68,1538.86
7,6666,53fe00d4-7b7a-11eb-960b-000d3a38a36f,9.71,13.00,17.00,259.87,2.78,5.56,262.07,1529.23
8,19538,55d54d9e-8ac7-11ea-8ec0-000d3a38a36f,52.57,58.71,31.00,228.53,3.08,6.17,229.61,1485.82
9,14858,031b2954-6d28-11eb-99c4-000d3a38a36f,14.86,15.57,3.00,743.59,0.87,1.74,778.05,1423.00
10,17963,8fd88976-6708-11ea-9d38-000d3a38a36f,50.29,63.29,7.00,694.20,0.92,1.84,707.69,1362.61
11,15516,9083981a-f59e-11e9-841e-000d3a38a36f,63.57,83.86,4.00,1090.36,0.57,1.15,1127.35,1359.44
12,6717,40b4f318-9dfb-11eb-9c47-000d3a38a36f,27.14,33.86,7.00,544.70,1.16,2.33,555.41,1355.44
13,4157,7eed6468-4540-11ea-acaf-000d3a38a36f,89.14,90.00,27.00,289.76,2.21,4.43,291.29,1353.53
14,4735,dbabb58e-6312-11ea-a6dc-000d3a38a36f,61.29,64.29,13.00,442.12,1.42,2.85,446.82,1334.83
15,11694,90f1b7f2-bbad-11ea-a0c9-000d3a38a36f,47.29,48.00,6.00,647.34,0.93,1.87,662.11,1297.52
16,11179,d2e74a36-3228-11eb-860c-000d3a38a36f,1.14,26.29,3.00,750.57,0.78,1.56,785.34,1286.14
17,1853,f02473b0-43c3-11eb-806e-000d3a38a36f,17.29,23.14,2.00,835.88,0.68,1.37,895.04,1285.23
18,5775,e31293ac-d63a-11e9-93bc-000d3a38a36f,91.71,93.14,8.00,727.09,0.83,1.65,739.39,1282.58
19,7312,90befc98-925a-11eb-b584-000d3a38a36f,4.14,8.86,6.00,431.33,1.36,2.73,441.40,1263.19

In [26]:
# Segmentlere ayıracağız. A,B,C ve D olarak 4 farklı gruba ayıracağız
cltv.describe()

,recency_cltv_weekly,T_weekly,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month,exp_average_value,cltv
count,19945.00,19945.00,19945.00,19945.00,19945.00,19945.00,19945.00,19945.00
mean,95.26,114.47,4.98,152.10,0.58,1.15,159.24,195.12
std,74.59,74.77,4.12,73.52,0.23,0.46,77.02,132.88
min,0.00,0.71,2.00,22.49,0.15,0.30,25.08,12.11
25%,50.43,73.86,3.00,103.65,0.43,0.87,108.77,112.25
50%,76.57,93.00,4.00,136.91,0.54,1.07,142.92,165.47
75%,109.43,119.43,6.00,182.45,0.67,1.34,190.45,240.06
max,433.43,437.14,57.00,1401.80,4.66,9.31,1449.06,3327.78

In [27]:
cltv["Segment"]=pd.qcut(cltv["cltv"],4,labels=['D','C','B','A'])
cltv
#4 segmente ayırdık. Şimdi segmentlere göre percentile ve ortalama gibi değerlere bakıcğız

,customer_id,recency_cltv_weekly,T_weekly,frequency,monetary_cltv_avg,exp_sales_3_month,exp_sales_6_month,exp_average_value,cltv,Segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,17.00,30.57,5.00,187.87,0.97,1.95,193.63,395.73,A
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,209.86,224.86,21.00,95.88,0.98,1.97,96.67,199.43,B
2,69b69676-1a40-11ea-941b-000d3a38a36f,52.29,78.86,5.00,117.06,0.67,1.34,120.97,170.22,B
3,1854e56c-491f-11eb-806e-000d3a38a36f,1.57,20.86,2.00,60.98,0.70,1.40,67.32,98.95,D
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,83.14,95.43,2.00,104.99,0.40,0.79,114.33,95.01,D
...,...,...,...,...,...,...,...,...,...,...
19940,727e2b6e-ddd4-11e9-a848-000d3a38a36f,41.14,88.43,3.00,133.99,0.49,0.97,141.36,144.10,C
19941,25cd53d4-61bf-11ea-8dd8-000d3a38a36f,42.29,65.29,2.00,195.24,0.48,0.96,210.72,212.44,B
19942,8aea4c2a-d6fc-11e9-93bc-000d3a38a36f,88.71,89.86,3.00,210.98,0.48,0.96,221.78,224.13,B
19943,e50bb46c-ff30-11e9-a5e8-000d3a38a36f,98.43,113.86,6.00,168.29,0.61,1.22,172.65,221.08,B
19944,740998d2-b1f7-11e9-89fa-000d3a38a36f,39.57,91.00,2.00,130.98,0.41,0.81,142.09,121.22,C

In [28]:
cltv[[ 'recency_cltv_weekly', 'T_weekly', 'frequency',
       'monetary_cltv_avg', 'exp_sales_3_month', 'exp_sales_6_month',
       'exp_average_value','cltv']
      ].groupby(cltv["Segment"]).agg({'recency_cltv_weekly': ['mean',lambda x :x.quantile(0.9)]
                                      ,'T_weekly': ['mean',lambda x :x.quantile(0.9)]
                                      ,'frequency': ['mean',lambda x :x.quantile(0.9)]
                                      ,'monetary_cltv_avg': ['mean',lambda x :x.quantile(0.9)]
                                      ,'exp_sales_3_month': ['mean',lambda x :x.quantile(0.9)]
                                      ,'exp_sales_6_month': ['mean',lambda x :x.quantile(0.9)]
                                      ,'exp_average_value': ['mean',lambda x :x.quantile(0.9)]
                                      ,'cltv': ['mean',lambda x :x.quantile(0.9)]})
#

        recency_cltv_weekly            T_weekly            frequency  \
                       mean <lambda_0>     mean <lambda_0>      mean
Segment
D                    139.00     301.43   162.18     324.86      3.77
C                     92.63     177.86   112.82     199.07      4.40
B                     81.99     142.71   100.33     160.14      5.09
A                     67.43     114.50    82.55     122.00      6.65

                   monetary_cltv_avg            exp_sales_3_month             \
        <lambda_0>              mean <lambda_0>              mean <lambda_0>
Segment
D             6.00             93.15     130.44              0.41       0.56
C             8.00            125.79     163.63              0.53       0.69
B             9.00            160.64     212.99              0.60       0.81
A            13.00            228.83     332.36              0.77       1.13

        exp_sales_6_month            exp_average_value              cltv  \
                     mean <lambda_0>              mean <lambda_0>   mean
Segment
D                    0.82       1.11             98.69     137.39  80.34
C                    1.05       1.38            132.25     173.07 138.31
B                    1.20       1.61            168.00     225.88 199.53
A                    1.55       2.26            238.02     349.79 362.32


        <lambda_0>
Segment
D           106.83
C           159.88
B           230.24
A           531.62

A segmentinin içerisinde bulunan bir kısım müşteri şirket için çok önemlidir. Yaşam boyu değeri diğerlerine kıyasla daha yüksek orandadır. Bu insanlar için ayrı ayrı çalışabilir ve farklı etkinlikler düzenlenebilir. D segmenti için ise kampanyalar indirimler uygulayarak gerekli çalışmalar yapılabilir.