In [100]:
import pandas as pd 
import numpy as np

In [101]:
df=pd.read_csv("flo_data_20k.csv")
df_=df.copy()

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [103]:
df.describe()

,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online
count,19945.000000,19945.000000,19945.000000,19945.000000
mean,3.110855,1.913913,253.922597,497.321690
std,4.225647,2.062880,301.532853,832.601886
min,1.000000,1.000000,10.000000,12.990000
25%,1.000000,1.000000,99.990000,149.980000
50%,2.000000,1.000000,179.980000,286.460000
75%,4.000000,2.000000,319.970000,578.440000
max,200.000000,109.000000,18119.140000,45220.130000

In [104]:
def outlier_thresholds(df, column):
    quartile1=df[column].quantile(0.1)
    quartile2=df[column].quantile(0.99)
    interquantile=quartile2-quartile1
    
    higher_thresholds= quartile2+ interquantile*1.5
    lower_thresholds=quartile1- interquantile*1.5
    return (higher_thresholds,lower_thresholds)


    
def replace_with_thresholds(df,column):
    lower,higher =outlier_thresholds(df,column)
     df.loc[df[column]<lower,variable

IndentationError: unexpected indent (2047746303.py, line 14)

In [ ]:
outlier_thresholds(df,["order_num_total_ever_online"])

(order_num_total_ever_online    48.5
 dtype: float64,
 order_num_total_ever_online   -27.5
 dtype: float64)